<div class="mt-3">
    <h2 class="text-center">{{ site.data.stack.title }}</h2>
    
    <div class="stack-container mt-4">
        <div style="width: 30%;">
            <img src="./../assets/img/python-logo.png" alt="">
        </div>
        <div class="stack-text-right">
            <h3 style="font-weight: bold;">{{ site.data.stack.python_title }}</h3>
            <p>{{ site.data.stack.python_text }}</p>
        </div>
    </div>

    <div class="stack-container mt-3">
        <div class="stack-text-left">
            <h3 style="font-weight: bold;">NodeJs, para prototipos backend rápidos</h3>
            <p>{{ site.data.stack.nodejs_text }}</p>
        </div>
        <div id="node-image" style="width: 30%; display: flex; justify-content: center;">
            <img src="./../assets/img/nodejs-1.svg" alt=""style="height: 170px; width: 170px;">
        </div>
    </div>

    <div class="stack-container mt-3">
        <div id="springboot-image">
            <img src="./../assets/img/springboot2.png" alt="">
        </div>
        <div class="stack-text-right">
            <h3 style="font-weight: bold;">Spring Boot, un todo terreno</h3>
            <p>{{ site.data.stack.springboot_text }}</p>
        </div>
    </div>
</div>