#node-text, #python-text {
    width: 70%;
}

.stack-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

.text-start {
text-align: left !important;
}

.text-end {
text-align: right !important;
}

.text-center {
text-align: center !important;
}

#principal-header {
    background-color: lightblue;
}

.border {
    border: 1px solid black;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

#home {
    text-align: justify;
}

@media (max-width: 576px) {
    #foto {
        display: none;
    }
    #home {
        width: 100%;
    }
    .stack-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
    }
    #node-text {
        order: 1;
        width: 90%;
        
    }
    #node-image {
        order: 0;
    }
    #python-text {
        width: 90%;
    }
    #home_content {
        padding: 20px;
    }
    h1 {
        text-align: center;
    }
}

@media (min-width: 576px) {
    #home {
        width: 65%;
    }
}