/* stack.html */

.stack-text-right, .stack-text-left {
    width: 70%;
    text-align: justify;
}

.stack-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

#springboot-image {
    width: 30%;
}

/* stack.html */

#principal-header {
    background-color: lightblue;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

#home {
    text-align: justify;
}

@media (max-width: 576px) {
    #foto {
        display: none;
    }

    #home {
        width: 100%;
    }

    .stack-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
    }

    .stack-text-left {
        order: 1;
        width: 90%;
    }

    .stack-text-right {
        width: 90%;
    }

    #node-text {
        order: 1;
        width: 90%;

    }

    #node-image {
        order: 0;
    }

    #home_content {
        padding: 20px;
    }

    h1 {
        text-align: center;
    }

    #springboot-image {
        width: 50%;
    }
}

@media (min-width: 576px) {
    #home {
        width: 65%;
    }
}

/* bootstrap */
.border {
    border: 1px solid black;
}

.text-start {
    text-align: left !important;
}

.text-end {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 0.25rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.mt-auto {
    margin-top: auto !important;
}

/* bootstrap */